* {
  box-sizing: border-box;
}

body {
    margin:0;
}

.loading {
    overflow: hidden;
    height: 100vh;
}

header {
    height: 100px;
    width: 100%;
    background-color: #F7F7F7;
    display: flex;
}

header img {
    max-height: 84px;
    width: auto;
    margin: 8px;
}

.d_none {
    display: none;
}

.max_width {
    max-width: 1920px;
}

#main_content {
    display: flex;
}

#filter_div {
    background-color: rgb(141, 141, 165);
    width: 250px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0;
}

#card_content {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    gap: 8px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
}

#name_filter {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
    width: calc(100% - 8px);
    box-sizing: border-box;
}



#filter_div h2 {
    text-align: center;
    color: #F7F7F7;
    margin-top: 8px;
    margin-bottom: 8px;
}

.filter_name {
    width: 100%;
}

#filter_div hr {
    width: 80%;
    height: 3px;
    color: white;
    border-radius: 4px;
}

#filter_typ {
    background-color: #F7F7F7;
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px;
    display: flex;
    flex-wrap:wrap;
    gap: 10px 20px;
    border: 2px solid gray;
    border-radius: 8px;
    width: calc(100% - 8px);
    box-sizing: border-box;
}

#filter_typ label{
    flex: 1 1 45%;
    display: flex;
    align-items: center;
    gap: 5px;
}

#filter_attack {
    margin-left: 8px;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
    width: calc(100% - 8px);
    box-sizing: border-box;
}

#show_attacks {
    background-color: #F7F7F7;
    height: 300px;
    width: auto;
    border: 2px solid gray;
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px;
    overflow-y: scroll;
    border-radius: 8px;
    width: calc(100% - 8px);
    box-sizing: border-box;
}

#sort_Stats {
    background-color: #F7F7F7;
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 8px;
    width: calc(100% - 8px);
    box-sizing: border-box;
}

#loading_screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    z-index: 999;
    
}

.poke_card {
    width: 300px;
    height: 500px;
    background-color: #f7f7f7;
    border-radius: 8px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.poke_background {
    width: 200px;
    height: 250px;
    border: 2px solid grey ;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.type_background {
    transform: rotate(38deg);
    width: 400px;
    height: 400px;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type_1 {
    height: 320px;
    width: 500px;
    background-color: orange;
}

.type_2 {
    height: 320px;
    width: 500px;
    background-color: green;
}

.poke_sprite_div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 150px;
    position: relative;
    top: -130px;
    
}

.poke_sprite {
    max-width: 100%;
    width: auto;
    filter: drop-shadow(5px 3px 2px #2c2c2c);
}

.type_normal {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_normal.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_fairy {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_normal.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_fire {
    height: 350px;
    width: 500px;
    background-image: url(/assets/img/bg_fire.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_water {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_water.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_grass {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_grass.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_electric {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_electric.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_ice {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_ice.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_fighting {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_fighting.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_poison {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_poison.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_ground {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_ground.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_flying {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_flying.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_psychic {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_psychic.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_bug {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_bug.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_rock {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_rock.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_ghost {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_ghost.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_dragon {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_dragon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}