* {
  box-sizing: border-box;
}

body {
    margin:0;
}

.loading {
    overflow: hidden;
    height: 100vh;
}

header {
    height: 100px;
    width: 100%;
    background-color: #F7F7F7;
    display: flex;
}

header img {
    max-height: 84px;
    width: auto;
    margin: 8px;
}

.max_width {
    max-width: 1920px;
}

#main_content {
    display: flex;
}

#filter_div {
    background-color: rgb(141, 141, 165);
    width: 250px;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    left: 0;
}

#card_content {
    display: flex;
    justify-content: center;
    flex: 1;
    flex-wrap: wrap;
    gap: 8px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
}

#name_filter {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
    width: calc(100% - 8px);
    box-sizing: border-box;
}



#filter_div h2 {
    text-align: center;
    color: #F7F7F7;
    margin-top: 8px;
    margin-bottom: 8px;
}

.filter_name {
    width: 100%;
}

#filter_div hr {
    width: 80%;
    height: 3px;
    color: white;
    border-radius: 4px;
}

#filter_typ {
    background-color: #F7F7F7;
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px;
    display: flex;
    flex-wrap:wrap;
    gap: 10px 20px;
    border: 2px solid gray;
    border-radius: 8px;
    width: calc(100% - 8px);
}

#filter_typ label{
    flex: 1 1 45%;
    display: flex;
    align-items: center;
    gap: 5px;
}

#filter_attack {
    margin-left: 8px;
    margin-bottom: 8px;
    margin-left: 4px;
    margin-right: 4px;
    width: calc(100% - 8px);
    box-sizing: border-box;
}

#show_attacks {
    background-color: #F7F7F7;
    height: 300px;
    width: auto;
    border: 2px solid gray;
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px;
    overflow-y: scroll;
    border-radius: 8px;
    width: calc(100% - 8px);
    box-sizing: border-box;
}

#sort_Stats {
    background-color: #F7F7F7;
    margin-left: 4px;
    margin-right: 4px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 8px;
    width: calc(100% - 8px);
    box-sizing: border-box;
}

#loading_screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    z-index: 999;
    
}

.poke_card {
    width: 300px;    
    background-color: #f7f7f7;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding-bottom: 68px;
    justify-content: center;
    align-items: center;
}

.poke_background {
    width: 200px;
    height: 250px;
    border: 2px solid grey ;
    border-radius: 16px 16px 0 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.type_background {
    transform: rotate(38deg);
    width: 400px;
    height: 400px;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.type_1 {
    height: 320px;
    width: 500px;
    background-color: orange;
}

.type_2 {
    height: 320px;
    width: 500px;
    background-color: green;
}

.poke_sprite_div {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 200px;
    position: relative;
    top: -15px;
    height: 0;
}

.poke_sprite {
    max-width: 100%;
    width: auto;
    filter: drop-shadow(5px 3px 2px #2c2c2c);
}

.sprite_size_small {
    height: 100px;
    width: 100px;
}

.sprite_size_medium {
    height: 150px;
    width: 150px;
}

.sprite_size_big {
    height: 200px;
    width: 200px;
}

.type_normal {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_normal.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_fairy {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_normal.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_fire {
    height: 350px;
    width: 500px;
    background-image: url(/assets/img/bg_fire.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_water {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_water.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_grass {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_grass.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_electric {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_electric.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_ice {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_ice.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_fighting {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_fighting.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_poison {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_poison.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_ground {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_ground.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_flying {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_flying.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_psychic {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_psychic.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_bug {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_bug.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_rock {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_rock.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_ghost {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_ghost.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.type_dragon {
    height: 320px;
    width: 500px;
    background-image: url(/assets/img/bg_dragon.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.poke_type_bar {
    height: 24px;
    width: 200px;
    border-left: 2px solid gray;
    border-right: 2px solid gray;
    border-bottom: 2px solid gray;
    overflow: hidden;
    display: flex;
}

.bar_normal {
    background-color: #a8a878;
    flex:1;
    text-align: center;
    color: white;
    font-weight: 700;
}

.bar_fairy {
    background-color: #a8a878;
    flex:1;
    text-align: center;
    color: white;
    font-weight: 700;
}

.bar_fire {
    background-color: #F08030;
    flex:1;
    text-align: center;
    color: white;
    font-weight: 700;
}

.bar_water {
    background-color: #6890F0;
    flex:1;
    text-align: center;
    color: white;
    font-weight: 700;
}

.bar_grass {
    background-color: #78C850;
    flex:1;
    text-align: center;
    color: white;
    font-weight: 700;
}

.bar_electric {
    background-color: #F8D030;
    flex:1;
    text-align: center;
    color: white;
    font-weight: 700;
}

.bar_ice {
    background-color: #98D8D8;
    flex:1;
    text-align: center;
    color: white;
    font-weight: 700;
}

.bar_fighting {
    background-color: #C03028;
    flex:1;
    text-align: center;
    color: white;
    font-weight: 700;
}

.bar_poison {
    background-color: #A040A0;
    flex:1;
    text-align: center;
    color: white;
    font-weight: 700;
}

.bar_ground {
    background-color: #E2BF65;
    flex:1;
    text-align: center;
    color: white;
    font-weight: 700;
}

.bar_flying {
    background-color: #A98FF0;
    flex:1;
    text-align: center;
    color: white;
    font-weight: 700;
}

.bar_psychic {
    background-color: #F95587;
    flex:1;
    text-align: center;
    color: white;
    font-weight: 700;
}

.bar_bug {
    background-color: #A6B91A;
    flex:1;
    text-align: center;
    color: white;
    font-weight: 700;
}

.bar_rock {
    background-color: #B6A136;
    flex:1;
    text-align: center;
    color: white;
    font-weight: 700;
}

.bar_ghost {
    background-color: #735797;
    flex:1;
    text-align: center;
    color: white;
    font-weight: 700;
}

.bar_dragon {
    background-color: #6F35FC;
    flex:1;
    text-align: center;
    color: white;
    font-weight: 700;
}

.bar_steel {
    display: none;
}

.poke_stats_window {
    width: 200px;
    border: 2px solid gray;
    padding: 4px;
    display: flex;
    flex-direction: column;
    flex: 1;
    border-radius: 0 0 16px 16px;
}

.all_stats {
    display: flex;
    justify-content: center;
}

.hp_bar {
    height: 15px;
    width: 100px;
    background-color: black;
    border-radius: 8px;
}

.atk_bar {
    height: 15px;
    width: 80px;
    background-color: black;
    border-radius: 8px;
}

.def_bar {
    height: 15px;
    width: 80px;
    background-color: black;
    border-radius: 8px;
}

.sp_atk_bar {
    height: 15px;
    width: 80px;
    background-color: black;
    border-radius: 8px;
}

.sp_def_bar {
    height: 15px;
    width: 80px;
    background-color: black;
    border-radius: 8px;
}

.init_bar {
    height: 15px;
    width: 80px;
    background-color: black;
    border-radius: 8px;
}

.tr1 {
    width: 43px;
    margin-right: 8px;
}

.tr2 {
    background-color: lightgray;
    border-radius: 8px;
    height: 4px;
    width: 100px;
}

.tr3 {
    width: 30px;
}

.inner_card {
    text-align: center;
    cursor: pointer;
    transition: scale 0.3s;
}

.inner_card:hover {
    scale: 1.1
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.404);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.overlay_window {
    width: 500px;
    border: 4px solid gray;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    z-index: 2;

}

.bg_overlay_normal {
    background-image: url(/assets/img/bg_normal.png);
    background-size: cover;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.bg_overlay_fairy {
    background-image: url(/assets/img/bg_normal.png);
    background-size: cover;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.bg_overlay_fire {
    background-image: url(/assets/img/bg_fire.png);
    background-size: cover;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.bg_overlay_water {
    background-image: url(/assets/img/bg_water.png);
    background-size: cover;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.bg_overlay_grass {
    background-image: url(/assets/img/bg_grass.png);
    background-size: cover;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;    
}

.bg_overlay_electric {
    background-image: url(/assets/img/bg_electric.png);
    background-size: cover;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.bg_overlay_ice {
    background-image: url(/assets/img/bg_ice.png);
    background-size: cover;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.bg_overlay_fighting {
    background-image: url(/assets/img/bg_fighting.png);
    background-size: cover;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.bg_overlay_poison {
    background-image: url(/assets/img/bg_poison.png);
    background-size: cover;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.bg_overlay_ground {
    background-image: url(/assets/img/bg_ground.png);
    background-size: cover;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.bg_overlay_flying {
    background-image: url(/assets/img/bg_flying.png);
    background-size: cover;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.bg_overlay_psychic {
    background-image: url(/assets/img/bg_psychic.png);
    background-size: cover;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.bg_overlay_bug {
    background-image: url(/assets/img/bg_bug.png);
    background-size: cover;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.bg_overlay_rock {
    background-image: url(/assets/img/bg_rock.png);
    background-size: cover;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.bg_overlay_ghost {
    background-image: url(/assets/img/bg_ghost.png);
    background-size: cover;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.bg_overlay_dragon {
    background-image: url(/assets/img/bg_dragon.png);
    background-size: cover;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

.bg_overlay_steel {
    display: none;
}

.upper_overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}

.upper_overlay h2 {
    margin-top: 8px;
    margin-bottom: 8px;
    padding: 8px;
    background-color: rgba(230, 230, 230, 0.692);
    border-radius: 4px;
}

.detailed_info {
    display: flex;
    flex-direction: column;
    background-color: #F7F7f7;
    border-radius: 16px;
    flex:1;
}

.detailed_info button{
    cursor: pointer;
    height: 40px;
    flex: 1;
    border-radius: 0;
    border-bottom: none;
    border: none;
}

#btn_1 {
    border-radius: 16px 0 0 0;
}

#btn_3 {
    border-radius: 0 16px 0 0;
}

.poke_sprite_overlay {
    position: relative;
    top: 30px;
    max-height: 250px;
    filter: drop-shadow(5px 3px 2px #2c2c2c);
    pointer-events: none;
}

.overlay_buttons {
    display: flex;
}

.info_window {
    display: flex;

}

#btn_2:hover {
    cursor: auto;
    background-color: #E9E9ED;
}

.flavor_text_div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 8px;
    border-right: 2px solid gray;
    flex:1;
}

.ability_overlay {
    flex: 1;
}

.d_none {
    display: none;
}

#table_overlay {
    width: 100%;
    margin: 4px;
}

.tr1_overlay {
    width: 40px;
    margin-right: 8px;
}

.tr2_overlay {
    background-color: lightgray;
    border-radius: 8px;
    height: 4px;
    width: 100px;
}

.tr3_overlay {
    width: 40px;
    padding-left: 8px;
}